.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../public/back.jpg');
    background-size: cover;
    background-position: center;
}

.login-card {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.login-field {
    padding-top: 1vh;
    padding: 2vh;
}

.login-button {
    padding-right: 40px;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}