.home-container{
    background-color: #0056b3;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ececec;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
    border-radius: 50%;
}

.menu-items {
    display: flex;
    gap: 20px;
}

.menu-items a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.menu-items a:hover {
    color: #007bff;
}

.profile-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.profile-icon {
    height: 40px;
    width: 40px;
}

.promo-section {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.products-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #0056b3;
}

.products-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
}

.product-card {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.add-to-cart-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}