body {
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
}

.p-card {
  width: 100%;
  max-width: 500px; 
  padding: 2rem;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.p-field label {
  font-weight: bold;
}